.product-card {
    height: 150px;
    width: 250px;
    box-shadow: 0 0 8px rgb(156, 156, 156);
    text-align: center;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-top: 10px;
    background-color: rgb(255, 71, 71);
    color: white;
}

.details {
  color: navy;
  text-align: center;
  font-size: x-large;
  border: 5px solid rgb(223, 6, 60);
  border-radius: 10px;
  padding: 20px;
}


.loading{
    width:160px;
    height:160px;
    border-radius:150px;
    border:15px solid #fff;
    border-top-color: rgb(223, 6, 60);
    box-sizing:border-box;
    position:absolute;
    top:50%;left:50%;
    margin-top:-80px;
    margin-left:-80px;
    animation:loading 1.2s linear infinite;
    -webkit-animation:loading 1.2s linear infinite;
  }
  @keyframes loading{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
  }
  @-webkit-keyframes loading{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
  }
  
  /* html{height:100%;}
  body {background:#000;background:linear-gradient(#7D57C9, rgba(0, 0, 0, 0) 90%), linear-gradient(-45deg, #4DA2D6 25%, #000 75%) !important;background:-webkit-linear-gradient(#7D57C9, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(-45deg, #4DA2D6 25%, #000 75%) !important;} */